@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

#single-1 {
    font-size: 20px;
    font-family: "Otomanopee One";
    margin-left: 180px;
    margin-top: 30px;
}

#single-2 {
    font-size: 15px;
    font-weight: 150px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: -10px;
    margin-left: 850px;
    
}

#images {
    width: 100%;
    height: 90%;
}

#image1, #image2, #image3, #image4, #image5, #image6{
    cursor: pointer;
}

#image1{
    width: 10%;
    margin-left: 200px;
    margin-top: 40px;
}

#image2{
    width: 10%;
    margin-top: 150px;
    margin-left: 200px;
}

#image3{
    width: 10%;
    margin-left: 200px;
    margin-top: -10px;
}

#image4{
    width: 10%;
    margin-left: 200px;
    padding-top: 0px;
}

#image5{
    width: 10%;
    margin-left: 200px;
    margin-top: 150px;
}

#image6{
    width: 10%;
    margin-left: 200px;
}

.bottom-left {
    font-weight: bold;
    position: absolute;
    bottom: 260px;
    left: 200px;
}

.top-left{
    font-size: 13px;
    position: relative;
    bottom: 680px;
    margin-left: 350px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.sec{
    font-size: 13px;
    position: relative;
    bottom: 680px;
    margin-left: 703px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.third{
    font-size: 13px;
    position: relative;
    bottom: 850px;
    margin-left: 1060px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.four{
    font-size: 13px;
    position: relative;
    bottom: 530px;
    margin-left: 350px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.five{
    font-size: 13px;
    position: relative;
    bottom: 540px;
    margin-left: 707px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.six{
    font-size: 13px;
    position: relative;
    bottom: 680px;
    margin-left: 1065px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.sec1{
    font-weight: bold;
    position: absolute;
    bottom: 150px;
    left: 550px;
}

.third1{
    font-weight: bold;
    position: absolute;
    bottom: 230px;
    left: 910px;
}

.four1{
    font-weight: bold;
    position: absolute;
    bottom: -150px;
    left: 200px;
}

.five1{
    font-weight: bold;
    position: absolute;
    bottom: -230px;
    left: 560px;
}

.six1{
    font-weight: bold;
    position: absolute;
    bottom: -150px;
    left: 920px;
}


@media only screen and (max-width: 768px) {
    body {
        padding: 3rem 2rem;
    }

    #images{
        width: 180px;
    }

    #single-1{
        font-size: 60px;
        font-weight: bold;
        display: inline;
    }

    #single-2{
        display: inline;
        font-size: 30px;
    }

    #image1, #image2, #image3, #image4, #image5, #image6{
        width: 200%;
        margin-left: 10px;
        margin-top: 40px;
    }

    .bottom-left {
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        bottom: -810px;
        left: 50px;
    }

    .top-left{
        font-size: 20px;
        position: relative;
        bottom: 3300px;
        margin-left: 370px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .sec1{
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        bottom: -1370px;
        left: 50px;
    }

    .third1{
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        bottom: -1930px;
        left: 50px;
    }

    .four1{
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        bottom: -2490px;
        left: 50px;
    }

    .five1{
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        bottom: -3050px;
        left: 50px;
    }

    .six1{
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        bottom: -3610px;
        left: 50px;
    }

    .sec{
        font-size: 20px;
        position: relative;
        bottom: 2900px;
        margin-left: 370px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .third{
        font-size: 20px;
        position: relative;
        bottom: 2460px;
        margin-left: 370px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .four{
        font-size: 20px;
        position: relative;
        bottom: 2020px;
        margin-left: 370px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .five{
        font-size: 20px;
        position: relative;
        bottom: 1580px;
        margin-left: 370px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .six{
        font-size: 20px;
        position: relative;
        bottom: 1100px;
        margin-left: 370px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}

@media only screen and (max-width: 768px) {
    .bottom-left{
        bottom: -90px;
    }

    .sec1{
        bottom: -655px;
    }

    .third1{
        bottom: -1210px;
    }

    .four1{
        bottom: -1770px;
    }

    .five1{
        bottom: -2335px;
    }

    .six1{
        bottom: -2900px;
    }
}

  
